@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialised;
}

body, html {
    font-family: "Montserrat";
    margin: 15px;
}

a {
    text-decoration: none;
}

.logo {
    width: 300px;
    height: 150px;
}

.hero-image {
    background-image: url('/Applications/XAMPP/xamppfiles/htdocs/beeschool/assets/hero.svg');
    background-position: 550px -350px;
}

.hero {
    font-family: 'Montserrat';
    padding-left: 12em;
    padding-bottom: 10em;
}

.hero h1 {
    font-size: 64px;
    font-weight: bold;
    color: #4a4545;
    text-align: left;
    margin-bottom: 10px;
}

.hero h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    color: #5f3ceb;
    letter-spacing: 1px;
}

.hero h5 {
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 13px;
    color: #6c6c6c;
    text-align: left;
    padding-bottom: 3em;
}

.blueButton {
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #000000;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 20px;
    background: none;
    z-index: 1;
}

.blueButton::before {
    content: " ";
    right: 9px;
    top: 4px;
    position: absolute;
    width: 120%;
    height: 120%;
    background-color: #13F800;
    border-radius: 20px;
    z-index: -1;
    transition: transform 0.15s ease-in-out 0s;
}
.blueButton::after {
    content: " ";
    right: 0px;
    top: 0px;
    position: absolute;
    width: 120%;
    height: 120%;
    border-color: #000;
    border-radius: 20px;
    opacity: 1;
    border-image: initial;
    border-style: solid;
    border-width: 1px;
    transition: transform 0.15s ease-in-out 0s;
}

.blueButton:hover{
    top:0px;
    left: 18px;
}
.blueButton:hover::after{
    top: 0px;
    left: -18px;
}


.header {
    padding: 2em;
}

.menu-btn {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

nav {
    position: absolute;
    background-color: #5f3ceb;
    padding:2em;
    width: 90%;
    height: 90%;
    display: none;
}

.close-btn {
    float: right;
    cursor: pointer;
    opacity: 1;
}

nav ul {
    list-style-type: none;
    margin: 10% auto 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    width:90%;
    transform: scaleX(1);
    transform-origin: right;
}
nav a{
    color: white;
    font-weight: bold;
    font-size: 2.5em;
}

nav span {
    color: white;
    display: block;
    margin-top: 20px;
    font-size: 0.75em;
}
nav li {
    opacity: 1;
    text-align: center;
    margin: auto;
}

.bottom-menu {
    padding-top: 15em;
    align-items: center;
}

.bottom-menu h5 {
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.social-media {
    color: white;
    text-align: center;
    letter-spacing: 15px;
}


.show-menu {
    animation: slide-menu 1s forwards;
    display: block;
    z-index: 2;
} 



@keyframes slide-menu { 
    from {
        transform: scaleX(0);
    }
    to {
        transform:scaleX(1) ;
    }
}