@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    font-family: "Montserrat";
    margin: 0;
}

body,
html a {
    text-decoration: none;
}

.logo {
    width: 300px;
    height: 120px;
}

.counter {
    float: right;
}

.credsy {
    margin-top: 15px;
    float: right;
}

nav {
    font-family: 'Montserrat';
    position: relative;
    border-radius: 12px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }
  
nav li, a {
    font-size: 15px;
    text-decoration: none;
    z-index: 1;
    display: inline-block;
    padding: 10px;
    text-align: center;
  }

.nazwasekcji {
    writing-mode: vertical-lr;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 14px;
}

.mytable {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    border-spacing: 0;
    margin-bottom: 1%;
  }
  
  .mytable th {
    font-size: 14px;
    padding: 10px 12px;
    text-align: left;
    vertical-align: top;
  }
  .mytable tr, td {
    font-size: 14px;
    border-top: 1px solid #ddd;
    padding: 5px 12px;
    text-align: left;
    vertical-align: top;
  }
  
  tr:nth-child(2n+1){
    background-color: #f3f3f3;
  }
  
  tr:hover, tr.selected {
    background-color: rgb(189, 189, 189);
  }